body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 115%;


}
header{
    background-color: lightgrey;

}
nav{
    background-color: lightblue;
}
main{
    background-color: yellow;
    font-size: 100%;
    
}
footer{
    background-color: lightcoral;
}
li{
    display: inline-block;
    width: 33%;

}
h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;

}
p{
    line-height: 100px; 

}
